
<section class="section has-background-black-ter is-hidden-touch">
<div class = "container">
<div class="columns is-mobile is-vcentered is-centered">

    

        <div class="column is-one-fifth">
            <a href="/"><div>
           <figure class="image">
            <img src="/images/logos/technicouv-logo.webp" alt ="logo techncouv couvreur 91"/>
            </figure>
            </div></a>
        </div>

        

    

     
        <div class="column">
            <a class="button is-info is-large" href="tel:{{ $.Site.Params.phone.phonemobilelink }}"><p>Une Question ? &nbsp; <i class="fa-solid fa-phone-volume"></i> </p></a>
        </div>
        <div class="column">
             <a  class="button is-info is-light is-large" href="/rdv"> <p>RDV Personnalisé&nbsp;<i class="fa-solid fa-calendar"></i> </p></a>
        </div>
     
      

       <div class="column is-one-fifth">
            <figure class="image is-96x96">
                <img src="/images/logos/garantie.webp" alt ="logo garantie décennale"/>
            </figure>
        </div>

</div>
</div>

</section>


<section class="section has-background-black-ter is-hidden-desktop section10">
    <div class = "container">
    <div class="columns is-mobile is-vcentered is-centered">
    
        
             
    
            
    
        
    
         
            <div class="column">
                <a class="button is-info is-medium" href="tel:{{ $.Site.Params.phone.phonemobilelink }}"><p>Une Question ? &nbsp; <i class="fa-solid fa-phone-volume"></i> </p></a>
            </div>
            <div class="column">
                 <a  class="button is-info is-light is-medium" href="/rdv"> <p>RDV Personnalisé&nbsp;<i class="fa-solid fa-calendar"></i> </p></a>
            </div>
         
          
    
           
    
    </div>
    </div>
    
    </section>



<section class="section has-background-black-ter is-hidden-desktop section10 white">
    <div class = "container">
    <div class="columns is-mobile is-vcentered is-centered">
    
        
             
        <div class="column">
            <a href="/"> <div>
           <figure class="image">
            <img src="/images/logos/technicouv-logo.webp" alt ="logo techncouv couvreur 91"/>
            </figure>
            </div></a>
        </div>
            
        <div class="column">
            <figure class="image is-96x96">
                <img src="/images/logos/garantie.webp" alt ="logo garantie décennale"/>
            </figure>
        </div>
    
        
    
         
            
         
          
    
           
    
    </div>
    </div>
    
    </section>




