<header>

    
    {{- partial "contacthead.html" . -}}

    <section class="section has-background-warning-light">

        <nav class="navbar" role="navigation" aria-label="main navigation">

            <div>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>


            </div>


            <div id="navbarBasicExample" class="navbar-menu has-background-warning-light">
                <div class="navbar-end">
                  <a class="navbar-item">
                    Home
                  </a>
            
                  <a class="navbar-item">
                    Documentation
                  </a>
            
                  <a class="navbar-item">
                    Documentation
                  </a>

                  <a class="navbar-item">
                    Documentation
                  </a>

                  <a class="navbar-item">
                    Documentation
                  </a>

                  <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                      More
                    </a>
            
                    <div class="navbar-dropdown">
                      <a class="navbar-item">
                        About
                      </a>
                      <a class="navbar-item">
                        Jobs
                      </a>
                      <a class="navbar-item">
                        Contact
                      </a>
                      <hr class="navbar-divider">
                      <a class="navbar-item">
                        Report an issue
                      </a>
                    </div>
                  </div>
                </div>
            
              
              </div>




        </nav>    

    </section>

    <div class="container is-fluid has-background-link has-text-centered">
        <div class="notification has-background-link has-text-warning is-capitalized">
          <p>Nos devis et déplacements sont offerts : 📞   09 73 73 86 94</p>
        </div>
      </div>

</header>


