<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="{{ .Site.Params.author}}">
	
    <link rel="canonical" href="{{ .Permalink }}" />

	<title>{{if .IsHome}}{{ $.Site.Title }}{{else}}{{ .Title }}{{end}}</title>
	<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
    {{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link rel="stylesheet" href="{{ "/fontawesome/css/all.min.css" | relURL }}">
    <link rel="stylesheet" href="{{ absURL "css/bulma.min.css" }}">	
    <link rel="stylesheet" href="{{ absURL "css/style.css" }}">
    <script src="/js/jquery.min.js"></script>

   

	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
 
	
	
	{{ partial "shema-json.html" . }}

</head>