<nav class="navbar ">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/logos/logo techi couv 91 couvreur dans l'essonne .webp" alt="Logo Technicouv artisan couvreur 91">
      </a>
  
      
  
     

      <a class="navbar-item is-hidden-desktop" href="tel: {{ $.Site.Params.phone.phonefixelink }}">
        <span class="bd-emoji">📞</span> &nbsp; {{ $.Site.Params.phone.phonefixe }}
      </a>

  
      <div class="navbar-burger burger" data-target="navMenubd-example">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  
    <div id="navMenubd-example" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link  is-active" href="/prestations/">
            Nos Prestations
          </a>
          <div class="navbar-dropdown ">
            <a class="navbar-item " href="/prestations/nettoyage-de-toiture/">
              Nettoyage de Toiture
            </a>
            <a class="navbar-item " href="prestations/ravalement-de-facade/">
              Ravalement de façade
            </a>
            <a class="navbar-item " href="/prestations/demoussage-de-toiture/">
              Démoussage de Toiture
            </a>
            <a class="navbar-item " href="/prestations/diagnostic-de-toiture/">
              Diagnostic de Toiture
            </a>
            <a class="navbar-item " href="/prestations/renovation-de-toiture/">
              Rénovation de Toiture
            </a>
            <a class="navbar-item " href="/prestations/traitement-de-toiture/">
              Traitement de Toiture
            </a>
  
            <a class="navbar-item" href="/prestations/entretien-de-toiture/">
              Entretien de Toiture
            </a>
  
            <hr class="navbar-divider">
            <div class="navbar-item">
              <div>
                <p class="is-size-6-desktop">
                  <strong class="has-text-info">Demandez Un Devis</strong>
                </p>
  
                <small>
                  <a class="bd-view-all-versions" href="/contact/">Contactez Nous</a>
                </small>
  
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="navbar-item has-dropdown is-hoverable is-mega">
          <div class="navbar-link flex">
            Nos Chantiers <span class="tag is-info ml-2">Par Ici<span>
          </div>
          <div id="blogDropdown" class="navbar-dropdown " data-style="width: 18rem;">
            <div class="container is-fluid">
              <div class="columns">
                <div class="column">
                  <h1 class="title is-6 is-mega-menu-title">Sub Menu Title</h1>
                  <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                    <div class="navbar-content">
                      <p>
                        <small class="has-text-info">03 Aug 2017</small>
                      </p>
                      <p>New feature: list of tags</p>
                    </div>
                  </a>
                  <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                    <div class="navbar-content">
                      <p>
                        <small class="has-text-info">03 Aug 2017</small>
                      </p>
                      <p>New feature: list of tags</p>
                    </div>
                  </a>
                  <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                    <div class="navbar-content">
                      <p>
                        <small class="has-text-info">03 Aug 2017</small>
                      </p>
                      <p>New feature: list of tags</p>
                    </div>
                  </a>
                </div>
                <div class="column">
                  <h1 class="title is-6 is-mega-menu-title">Sub Menu Title</h1>
                  <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                    <div class="navbar-content">
  
                      <p>
                        <small class="has-text-info">03 Aug 2017</small>
                      </p>
                      <p>New feature: list of tags</p>
                    </div>
                  </a>
                  <a class="navbar-item " href="/documentation/overview/start/">
                    Overview
                  </a>
                  <a class="navbar-item " href="http://bulma.io/documentation/modifiers/syntax/">
                    Modifiers
                  </a>
                  <a class="navbar-item " href="http://bulma.io/documentation/columns/basics/">
                    Columns
                  </a>
                </div>
                <div class="column">
                  <h1 class="title is-6 is-mega-menu-title">Sub Menu Title</h1>
                  <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                    <div class="navbar-content">
                      <p>
                        <small class="has-text-info">03 Aug 2017</small>
                      </p>
                      <p>New feature: list of tags</p>
                    </div>
                  </a>
                  <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                    <div class="navbar-content">
                      <p>
                        <small class="has-text-info">03 Aug 2017</small>
                      </p>
                      <p>New feature: list of tags</p>
                    </div>
                  </a>
                  <a class="navbar-item" href="/2017/08/03/list-of-tags/">
                    <div class="navbar-content">
                      <p>
                        <small class="has-text-info">03 Aug 2017</small>
                      </p>
                      <p>New feature: list of tags</p>
                    </div>
                  </a>
  
                </div>
                <div class="column">
                  <h1 class="title is-6 is-mega-menu-title">Sub Menu Title</h1>
                  <a class="navbar-item " href="/documentation/overview/start/">
                    Overview
                  </a>
                  <a class="navbar-item " href="http://bulma.io/documentation/modifiers/syntax/">
                    Modifiers
                  </a>
                  <a class="navbar-item " href="http://bulma.io/documentation/columns/basics/">
                    Columns
                  </a>
                  <a class="navbar-item " href="http://bulma.io/documentation/layout/container/">
                    Layout
                  </a>
                </div>
              </div>
            </div>
  
            <hr class="navbar-divider">
            <div class="navbar-item">
              <div class="navbar-content">
                <div class="level is-mobile">
                  <div class="level-left">
                    <div class="level-item">
                      <strong>Stay up to date!</strong>
                    </div>
                  </div>
                  <div class="level-right">
                    <div class="level-item">
                      <a class="button bd-is-rss is-small" href="http://bulma.io/atom.xml">
                        <span class="icon is-small">
                          <i class="fa fa-rss"></i>
                        </span>
                        <span>Subscribe</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-item " href="/a-propos/">
                À Propos
              </a>
        </div>
          <!--
          <div id="moreDropdown" class="navbar-dropdown ">
            <a class="navbar-item " href="http://bulma.io/extensions/">
              <div class="level is-mobile">
                <div class="level-left/">
                  <div class="level-item">
                    <p>
                      <strong>Extensions</strong>
                      <br>
                      <small>Side projects to enhance Bulma</small>
                    </p>
                  </div>
                </div>
                <div class="level-right">
                  <div class="level-item">
                    <span class="icon has-text-info">
                      <i class="fa fa-plug"></i>
                    </span>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div> -->
        <a class="navbar-item " href="tel: {{ $.Site.Params.phone.phonefixelink }}">
          <span class="bd-emoji">📞</span> &nbsp; {{ $.Site.Params.phone.phonefixe }}
        </a>
        <a class="navbar-item " href="http://bulma.io/love/">
          <span class="bd-emoji">❤️</span> &nbsp;Artisan Couvreur par Amour du travail bien fait
        </a>
      </div>
  
      <div class="navbar-end">
        <!--
        <a class="navbar-item is-hidden-desktop-only" href="https://github.com/jgthms/bulma" target="_blank">
          <span class="icon" style="color: #333;">
            <i class="fa fa-github"></i>
          </span>
        </a>
        <a class="navbar-item is-hidden-desktop-only" href="https://twitter.com/jgthms" target="_blank">
          <span class="icon" style="color: #55acee;">
            <i class="fa fa-twitter"></i>
          </span>
        </a>
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://bulma.io" target="_blank" href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&hashtags=bulmaio&url=http://bulma.io&via=jgthms">
                <span class="icon">
                  <i class="fa fa-twitter"></i>
                </span>
                <span>
                  Tweet
                </span>
              </a>
  
            </p>
            -->
            <p class="control">
              <a class="button bg-is-red has-text-white" href="/contact">
                <span class="icon">
                    <i class="fa-solid fa-envelope"></i>
                </span>
                <span>Contactez Nous</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!--
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Bulma.io with Full Width Menu (Mega Menu)
        </h1>
        <h2 class="subtitle">
          Hover over Blog
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
            <div class="notification is-light is-link">Hi! <br />I recently launched this project focused on developers. I hope you will find it useful.</div>
          <div class="card">
            <div class="card-image">
              <figure class="image is-fullwidth">
                <img src="https://codedmails.com/images/banner-codedemails.png" alt="Coded Mails">
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-4">Codedmails Free</p>
              <p class="subtitle is-6"><a target="_blank" href="https://twitter.com/codedmails">@codedmails</a></p>
  
              <div class="content">
  
                <p>Ready to use <strong>60+ HTML email templates and themes </strong>for startups and developers for free.</p>
              </div>
  
            </div>
            <footer class="card-footer">
              <a href="https://codedmails.com" target="_blank" class="card-footer-item">Visit Codedmails</a>
            </footer>
          </div>
         
        </div>
      </div>
    </div>
  </section>-->

  <script>
        document.addEventListener('DOMContentLoaded', function () {

// Get all "navbar-burger" elements
var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any nav burgers
if ($navbarBurgers.length > 0) {

  // Add a click event on each of them
  $navbarBurgers.forEach(function ($el) {
    $el.addEventListener('click', function () {

      // Get the target from the "data-target" attribute
      var target = $el.dataset.target;
      var $target = document.getElementById(target);

      // Toggle the class on both the "navbar-burger" and the "navbar-menu"
      $el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });
}

});




  </script>